<form action="/add" method='Post'>
    <p>Titulo</p>
    <input type="text" Name='titulo' placeholder="Titulo">
    <p>Conteúdo</p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Enviar Post</button>
</form>